[user]
	name = BiffJonas
	email = johannesjoh00@gmail.com
[credential]
	helper = store --file ~/.git-credentials
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = nvim
